body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.container {
    text-align: center;
}

#numberDisplay {
    font-size: 2em;
    margin-bottom: 20px;
    color :white;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    width:100px;
    margin:20px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}
